*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Tauri;
}
:root{
    --main-color: #04541F;
}
body{
    background-color: var(--main-color);

}
.panddinger{
    padding-inline: 15px ;
}
h2{
    font-size: clamp(1.8rem, 7vw, 3.5rem);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Staatliches;
    font-weight: 400;
    text-transform: uppercase;
    
    margin: 50px auto;
    width: fit-content;
}

.container{

    max-width: 1100px;
    margin: 0 auto;
}

.btn{
    align-self: center;
    padding: 10px 40px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    border-radius: 1000px;
    color:  var(--main-color);
    text-transform: uppercase;
    font-family: Staatliches;   
    font-weight: 400;
    font-size: 25px;
}

header{
    background-image: url('https://didattica.abcompany.net/_nuxt/img/background.3e41fa9.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    overflow: hidden
}
header h1{
    font-size: clamp(3rem, 10vw, 8.5rem);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #F2F2F2;
}
header .logo{
    width: clamp(150px, 20%, 180px);
    border-radius: 100%;
    margin-left: 20px;
    
}
header .bottom-h{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
header .bottom-h .triangle{
    background-image: url('./images/rectangle-two.png');
    aspect-ratio: 2.5;
    overflow: hidden !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 10px 0;
}
header .bottom-h p{
    font-size: clamp(1rem, 3vw, 3.5rem);
    transform: rotate(13deg);
    font-family: Staatliches;
    font-weight: 400;
    text-align: right;
    
    margin-right: 10px;
    align-self: flex-end;
    color: #F2F2F2;

    position: absolute;
    top: 30%;
    right: 10px;
}
header .bottom-h .triangle .logo-animate{
    
    
    white-space: nowrap;
    font-family: Staatliches;
    color: black;
    
    width: 500%;
    
    word-spacing: 10px;
    letter-spacing: 2px;
    
    position: absolute;

    
    /* animation: slide-text-header  4s ease-in ;     */


}

/********* BRAND *********/


.brand section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
    
    
}
.brand section p {
    text-align: center;
    
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Tauri;
    letter-spacing: 1.8px;
    font-weight: 400;
}
.brand h2{
    text-align: center;
    
}

/******** NOTIONS ********/

.notions{
    display: flex;
    flex-direction: column;
    gap: 130px;

}
.notions .notion{
    width: 100%;
    user-select: none;
    
}

/****top****/
.notions .notion .top{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

}
.notions .notion .top .line{
    height: 5px;
    width: 25%;
    background-color: white;
    position: relative;
}
.notions .notion .top .line .end-line{
    height: 10px;
    width: 10px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: -2.5px;
    right: -5px;
    
}
.notions .notion .top .title{
    font-family: Staatliches;
    text-transform: uppercase;
    font-size: clamp(1.7rem, 6vw, 2rem);
}
/****line****/
.n2 .top .line{
    width: 30% !important;
}
.n3 .top .line{
    width: 35% !important;
}
.n4 .top .line{
    width: 40% !important;
}
.n5 .top .line{
    width: 45% !important;
}
/****bottom****/
.notions .notion .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 0;
    transition: all .7s ease-in-out ;
    transition-delay: 100ms;
    background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11e67f00 0%, #04541f00 70.31%, #04541f00 83.85%, #04541f00 100%);
}
.notions .notion .bottom img{
    width: 0;
    opacity: 0;
    transition: all .7s ease-in-out ;
}
.notions .notion .bottom p{
    width: clamp(290px, 60%, 600px) !important;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.395);
    padding: 30px;
    opacity: 0;
    transition: all .7s ease-in-out ;
}
.notions .notion .bottom p span{
    opacity: 0;
    transition-delay: 600ms;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Tauri;
    font-weight: 400;
}

/*******hover*******/
/*n1*/
.n1:hover .bottom{
     background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11E680 0%, #04541F 70.31%, #04541F 83.85%, #04541F 100%);
    height: 300px;
    transition: all .7s ease-in-out ;
}
.n1:hover p{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
}
.n1:hover p span{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
    transition-delay: 400ms;
}
.n1:hover img{
    width: clamp(100px, 30%, 340px) !important;
    opacity: 1 !important;
    transition: all .7s ease-in-out ;
    
}
/*n2*/
.n2:hover .bottom{
    background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11E680 0%, #04541F 70.31%, #04541F 83.85%, #04541F 100%);
    height: 300px;
    transition: all .7s ease-in-out ;
}
.n2:hover p{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
}
.n2:hover p span{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
    transition-delay: 400ms;
}
.n2:hover img{
    width: clamp(100px, 30%, 340px) !important;
    opacity: 1 !important;
    transition: all .7s ease-in-out ;
    
}
/*n3*/
.n3:hover .bottom{
     background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11E680 0%, #04541F 70.31%, #04541F 83.85%, #04541F 100%);
    height: 300px;
    transition: all .7s ease-in-out ;
}
.n3:hover p{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
}
.n3:hover p span{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
    transition-delay: 400ms;
}
.n3:hover img{
    width: clamp(100px, 30%, 340px) !important;
    opacity: 1 !important;
    transition: all .7s ease-in-out ;
    
}
/*n4*/
.n4:hover .bottom{
     background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11E680 0%, #04541F 70.31%, #04541F 83.85%, #04541F 100%);
    height: 300px;
    transition: all .7s ease-in-out ;
}
.n4:hover p{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
}
.n4:hover p span{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
    transition-delay: 400ms;
}
.n4:hover img{
    width: clamp(100px, 30%, 340px) !important;
    opacity: 1 !important;
    transition: all .7s ease-in-out ;
    
}
/*n5*/
.n5:hover .bottom{
     background: radial-gradient(280.86% 219.74% at 75.46% 228.3%, #11E680 0%, #04541F 70.31%, #04541F 83.85%, #04541F 100%);
    height: 300px;
    transition: all .7s ease-in-out ;
}
.n5:hover p{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
}
.n5:hover p span{
    opacity: 1 !important;
    margin-left: 0 !important;
    transition: all .7s ease-in-out ;
    transition-delay: 400ms;
}
.n5:hover img{
    width: clamp(100px, 30%, 340px) !important;
    opacity: 1 !important;
    transition: all .7s ease-in-out ;
    
}


/*****CARD*****/
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin: 350px 0;
}

.card-container .card{
    width: clamp(280px, 23%, 430px);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background: radial-gradient(238.57% 135.53% at 90.03% 94.18%, #074439 0%, #16E173 100%);
    box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.card-container .t2{
    background: radial-gradient(107.26% 73.15% at 89.18% 78.17%, rgba(136, 214, 174, 0.89) 0%, rgba(65, 168, 174, 0.88) 100%);
}
.card-container .card .title{
    font-size: clamp(1.7rem, 6vw, 2rem);
    font-family: Staatliches !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: left;
    align-self: flex-start;
}
.card-container .card .tt2{
    text-align: right;
    align-self: flex-end !important;
}
.card-container .card .title span{
    font-family: Staatliches !important;
    font-size: 200%;
}
.card-container .card .title svg{
    height: 17%;
    position: absolute;
    top: 30px;
    right: 0px;
}
.card-container .card p{
    
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.41);
    font-family: Tauri;
    
    font-style: normal;
    font-weight: 400;
    
}

/*****SHOWROOM*****/
.showroom{
    margin: 30px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showroom .sec{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}
.showroom .sec span{
    font-size: clamp(1.7rem, 6vw, 2rem);
    align-self: flex-end;
    margin: 0 20px 20px 0;
    text-transform: uppercase;
}
.showroom .sec-1{
    background-image: url('./images/back1.png');
    height: 650px;
    
}
.showroom .sec-2{
    background-image: url('./images/back2.png');
    justify-content: flex-end;
}
.showroom .sec-3{
    background-image: url('./images/back3.png');
    height: 650px;
}
.showroom .sec-1 .sec-tri{

    background-image: url('./images/trisect.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -3px;
    aspect-ratio: 3.674;
    width: 100%;
}
.showroom .sec-3 .sec-tri-bt{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: right;
    background-image: url('./images/trbtn.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 3px;
    aspect-ratio: 3.674;
    width: 100%;
}
.showroom .sec-1 .sec-tri h2{
    margin: 0 auto;
    text-align: center;
}
.showroom .sec .circle{
    position: absolute;
    top: 29%;
    left: 15%;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: rgba(128, 128, 128, 0.62);
}
.showroom .sec .circle .desc{
    position: absolute;
    top: -10px;
    left: 30px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.62);
    opacity: 0;
    transition: all .2s ease-in-out;
}

.showroom .sec .circle .desc a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 300px;
    color: rgb(51, 51, 51);
    text-align: center;

}
/******HOVER-CIRCLE*******/
.c1:hover .desc{
    opacity: 1 !important;
    transition: all .2s ease-in-out;

}
.c2:hover .desc{
    opacity: 1 !important;
    transition: all .2s ease-in-out;

}
.c3:hover .desc{
    opacity: 1 !important;
    transition: all .2s ease-in-out;

}

/******SOLUZIONI SU MISURA*******/

.soluzioni-su-misura{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin:  200px 0;
}
.soluzioni-su-misura h2{
    text-align: left;

}
.soluzioni-su-misura p{
    width: 70%;
    text-align: left;
}
.soluzioni-su-misura .form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}
.soluzioni-su-misura .form .inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
   
}
.soluzioni-su-misura .form .contact{
    display: flex;
justify-content: space-between;
}

/******CONTATTACI*******/

.contattaci{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 190px 0;
}
.contattaci .container-contattaci {
    width: 100%;
    display: flex;
    gap: 1rem;
}


.contattaci .sec{
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.49);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contattaci .sec h3{
    text-transform: uppercase;
    font-size: clamp(1.7rem, 6vw, 2rem);
    font-family: Staatliches !important;
    margin-bottom: 20px;
}

.contattaci .s1{
    width: 40%;
   
}
.contattaci .s1 .form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.contattaci .s1 .form .input-group {
    width: 100% !important;
}
.contattaci .s1 .form .input-group input{
    width: 100% !important;
}
.contattaci .s2, .s3{
    width: 100%;
    height: 100%;
}
.contattaci .s2{
    flex-direction: row !important;
    justify-content: space-between;
    gap: 1rem;
}
.contattaci .s2 .left-s2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.contattaci .s2 .right{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contattaci .s2 .right h4{
    white-space: nowrap;

}

.contattaci .s2 .right .socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contattaci .s2 .right .socials svg{
    width: 30px;
    height: 30px;
}
.contattaci .s3{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 1rem;
}
.contattaci .s3 h3{
    width: 100%;
}
.contattaci .s3 .top-left{
    width: calc((100% - 1rem) / 2);
    padding: 10px;
}
.contattaci .s3 .top-right{
    width: calc((100% - 1rem) / 2);
    padding: 10px;

}
.contattaci .s3 img{
    width: 100%;
}
.contattaci .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 1rem;
}



textarea{
    width: 100%;
}
/********FOOTER*********/
footer{
    background-color: rgba(2, 39, 8, 0.836);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer .top-f{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
}
footer .top-f .logo{
    width: clamp(70px, 17%, 120px);
    align-self: center;
    aspect-ratio: 1 !important;
    border-radius: 100%;
}
footer .top-f section{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    justify-content: space-between;
    padding-top: 20px;
}
footer .top-f section p{
    opacity: .7;
    width: 150px;
    
}
footer .top-f section .socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
footer .top-f section .socials a svg{
    width: 30px;
    color: white;
}
footer .bottom-f{
    background-color: black;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
h4{
    text-transform: uppercase;
    font-size: clamp( 1.3rem, 2.6vh, 1.9rem);
    font-family: Staatliches !important;
}
/********inputi/uiverse/btn*********/

.input-group {
    position: relative;
   }
   
   .input {
    min-width: 300px;
    border: solid 1.5px #ffffffb5;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 2px solid white;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--main-color);
    padding: 0 .2em;
    color: white;
   }
   .contattaci .input:focus ~ label, input:valid ~ label {
    background-color: #012B10 !important;
   }

   @media (max-width:990px) {
    .contattaci .container-contattaci {
        flex-direction: column;
    }
    .contattaci .s1{
        width: 100% !important;
    }
    .contattaci .s2{
        flex-direction: column !important;
        justify-content: flex-start;
    }
    .contattaci .left{
        width: 100% !important;
    }

}
   @media (max-width:570px) {
    .n1:hover .bottom{
        height: 550px !important;
    }
    .n2:hover .bottom{
        height: 550px !important;
    }
    .n3:hover .bottom{
        height: 550px !important;
    }
    .n4:hover .bottom{
        height: 550px !important;
    }
    .n5:hover .bottom{
        height: 550px !important;
    }

}
label{
    background: none!important;
}